<header class="header border-bottom">
  <nav class="navbar navbar-expand-lg container px-3">
    <a class="navbar-brand" href=".">
      <img class="" src="assets/media/logo.png" alt="MEC Logo"/>
      <!-- <span class="fw-bolder">Manufacturing & Engineering Co-op</span> -->
    </a>
    <button class="navbar-toggler d-lg-none navbar-toggler-icon" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
      aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bolder" href="ekart">EV Challenge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder" href="sponsors">Sponsors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder disabled" href="articles">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder" href="students">Students</a>
        </li>        
        <li class="nav-item ms-lg-1">
          <a name="" id="" class="btn btn-primary fw-bolder" href="#" role="button">Support Us!</a>
        </li>
      </ul>
    </div>
  </nav>
</header>